<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="chocolatey" />
  <package id="chocolatey-core.extension" />
  <package id="Cmder" />
  <package id="ditto" />
  <package id="DotNet4.5.2" />
  <package id="intellijidea-ultimate" />
  <package id="maven" />
  <package id="nodejs" />
  <package id="nodejs.install" />
  <package id="notepadplusplus" />
  <package id="notepadplusplus.install" />
  <package id="openjdk14" />
  <package id="openjdk17" />
  <package id="procexp" />
  <package id="vcredist2010" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="winrar" />
</packages>